@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Jenkins Demo</h1>
    <p>Hello World!</p>
    <p>Creating my first jenkins pipeline</p>
    <p>first change</p>
    <p>second change</p>
    <p>Chnage to check automated docker containerization.</p>
</div>
